$breakpoints: (
  "xxl": (
    max-width: 1400px,
  ),
  "xl": (
    max-width: 1280px,
  ),
  "l": (
    max-width: 1024px,
  ),
  "m": (
    max-width: 959px,
  ),
  "s": (
    max-width: 680px,
  ),
  "xs": (
    max-width: 480px,
  ),
  "xxs": (
    max-width: 375px,
  ),
);

$font: "PF Regal", PF Regal Text Pro, Georgia, serif;
$font-header: "Proxima Nova", Arial, Helvetica Neue, sans-serif;

$container_width: 1000px;

$gutter: 20px;
$gutter-mobile: 10px;

$blue: #0057FF;
$blue-light: #7aceff;
$green: #00B73E;
$green-light: #00e34d;
